::-webkit-scrollbar { width: 2px; }
::-webkit-scrollbar-track { background: #343a40;}
::-webkit-scrollbar-thumb { border-radius: 4px; background: #3199b3;}
::-webkit-scrollbar:hover { border: none; background: black;}
/* End Global CSS  */
header.app-header {
	top: 0;
    left: 0;
	right: 0;
	width: 100%;
	z-index: 10000;
    position: fixed;
}
header.app-header .brand{
	display: none;
}
@media (min-width:991px){
	header.app-header .brand{
		display: block;
		width: 220px;
	}
}
header.app-header .menu .dropdown{
	display: inline-block;
}
header.app-header .menu .dropdown-menu{
	right: 0;
	left: auto;
	border:none;
	background-color: transparent;
}
header.app-header .menu .dropdown-menu .card{
	min-width: 280px;
	min-height: 280px;
}
header.app-header .menu .dropdown-menu .card .btn-profile{
	width: 100%;
	display: block;
	border-radius: 5rem;
}
/* end header area  */
aside.app-sidebar{
	top: 0;
	left: -260px;
	width: 260px;
	height: 100vh;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease;
	background-color: #222d32;
}
aside.app-sidebar.change{
	left: 0!important;
}
.sidebar-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #222d32;
}
.sidebar-menu>li {
	margin: 0;
	padding: 0;
	position: relative;
}
.sidebar-menu>li>a {
	padding: 12px 5px 12px 15px;
	display: block;
	border-left: 3px solid transparent;
	color: #b8c7ce;
}
.sidebar-menu>li>a>.fa {
	width: 20px;
}
.sidebar-menu>li:hover>a,
.sidebar-menu>li.active>a {
	color: #fff;
	background: #1e282c;
	border-left-color: #3c8dbc;
}
.sidebar-menu>li>.treeview-menu {
	margin: 0 1px;
	background: #2c3b41;
}
.sidebar-menu>li .label,
.sidebar-menu>li .badge {
	margin-top: 3px;
	margin-right: 5px;
}
.sidebar-menu li.header {
	padding: 10px 25px 10px 15px;
	font-size: 12px;
	color: #4b646f;
	background: #1a2226;
}
.sidebar-menu li>a>.fa-angle-left {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px;
}
.sidebar-menu li.active>a>.fa-angle-left {
	transform: rotate(-90deg);
}
.sidebar-menu li.active>.treeview-menu {
	display: block;
}
.sidebar-menu a {
	color: #b8c7ce;
	text-decoration: none;
}
.sidebar-menu .treeview-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
	padding-left: 20px;
}
.sidebar-menu .treeview-menu>li {
	margin: 0;
}
.sidebar-menu .treeview-menu>li>a {
	padding: 5px 5px 5px 15px;
	display: block;
	font-size: 14px;
	color: #8aa4af;
}
.sidebar-menu .treeview-menu>li>a>.fa {
	width: 20px;
}
.sidebar-menu .treeview-menu>li>a>.fa-angle-left,
.sidebar-menu .treeview-menu>li>a>.fa-angle-down {
	width: auto;
}
.sidebar-menu .treeview-menu>li.active>a,
.sidebar-menu .treeview-menu>li>a:hover {
	color: #fff;
}
/* End Sidebar Area  */
main.app-body{
	margin-left: 0;
	margin-top: 58px;
	min-height: 90vh;
	transition: all 0.5s ease;
}
@media (min-width:991px){
	main.app-body.change{
		margin-left: 260px!important;
	}
}
/* -> end main area  */
footer.app-footer{
	margin-left: 0;
	color: white;
	padding: 20px 0;
	text-align: center;
	transition: all 0.5s ease;
	background-color: #1a2226;
}
@media (min-width:991px){
	footer.app-footer.change{
		margin-left: 260px!important;
	}
}
footer.app-footer p{
	margin: 0;
}


